
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Auth.cshtml";
}

<diiv class="container-fluid">
<div class="row">

        <div class="col-md-2">
        
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="card">
            <div class="card-header">
Login
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <lable class="form-label">userName</lable>
                    <input class="form-control" id="txtname" text="" />
                </div>
                    <div class="col-md-12">
                        <lable class="form-label">Password</lable>
                        <input class="form-control" id="txtname" text="" />
                    </div>
                   
                    <div class="col-md-12 me-6 text-center">
                        <button class="btn btn-info" id="btnsave" style="color:white;">Save</button>
                    </div>
            </div>
        </div>
    </div>
        <div class="col-md-2">
           
        </div>

</div>
</diiv>


