
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/Auth.cshtml";
}

<diiv class="container-fluid">
    <div class="row">

        <div class="col-md-2">
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <lable class="form-label">username</lable>
                        <input class="form-control" id="txtnsername" text="" />
                    </div>
                    <div class="col-md-12">
                        <lable class="form-label">Email</lable>
                        <input class="form-control" id="txtemail" text="" type="email" />
                    </div>
                    <div class="col-md-12">
                        <lable class="form-label">Mobile No</lable>
                        <input class="form-control" id="txtname" text="" type="number" />
                    </div>
                    <div class="col-md-12">
                        <lable class="form-label">Role</lable>
                        <input class="form-control" id="txtrole" text="" type="text" />
                    </div>
                    <div class="col-md-12 d-flex">
                        <input type="checkbox" id="accptterm" />
                        <label class="form-check"> I accept Term and Condition</label>
                    </div>
                    <div class="col-md-12 me-6 text-center">
                        <button class="btn btn-info" id="btnsave" style="color:white;">Register</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>

    </div>
</diiv>



